<div class="center">
    <% if @blade.image.attached? %>
    <p><%= image_tag(@blade.image, size:"400x400") %></p>
    <% else %>
    <p>image</p>
    <% end %>
</div>
<div class="row">
    <div class="col s8 push-s2">
        <h1><%= @blade.name %></h1>
        <p><%= @blade.description %></p>
        <p>€ <%= @blade.price %></p>
        <p><% if @blade.pointy %>Watch your fingers!<% end %></p>
        <p>stock: <%= @blade.stock %></p>

        <%= render '/basketblades/form' %>
        <div class="right">
            <%= link_to 'Edit', edit_blade_path(@blade) %> |
            <%= link_to 'Back', blades_path %> |
            <%= link_to 'Destroy', @blade, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
</div>