<%= form_with model: Basketblade.new do |f| %>

<div class="actions">

    <%= f.label :quantity, "quantity" %>
    <%= f.number_field :quantity, in: 1..@blade.stock, value: 1 %>
    <%= f.hidden_field :blade, :value => @blade.to_param %>

    <br /><br />
    <%= f.submit "put in basket" %>
</div>
<% end %>