<div class="center">
    <h1>Basket</h1>
</div>

<div class="row">
<div class="col s4 push-s4">
    <ul class="collection">
        <% @basketblades.each do |basketblade| %>
        <li class="collection-item avatar">
            <div class="center">
                <% if basketblade.blade.image.attached? %>
                <%= image_tag(basketblade.blade.image, size:"100x100") %>
                <% else %>
                image
                <% end %>
                <br>
                <span class="title"><%= basketblade.blade.name %></span>
                <p>price: € <%= basketblade.blade.price %><br>
                    quantity: <%= basketblade.quantity %></p>
            </div>
        </li>
        <% end %>
    </ul>
</div>
</div>
<div class="center">
<%= button_to "check out",  checkout_basketblade_path(current_user), method: :put %>
</div>